body {
    background: #DEB887;
    }

.container1 {
    padding-top: 35px;
    }

form {
      text-align: center;
    }

.link {
    text-decoration: none;
    font-family: fantasy;
    font-size: 12px;
    padding: 1px 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 30px;
    background-color: #cc5e1f;
    color: black;
    }

.link2 {
    text-decoration: none;
    font-size: 14px;
    padding: 2px 8px;
    margin-left: 45px;
    border-radius: 30px;
    background-color: #cc5e1f;
    color: white;
    }

.images {
      height: 170px;
      width: 112px;
    }

.bookprice {
      font-weight: bolder;
    }
