body {
    background: #DEB887;
    }

    .container1 {
    padding-top: 35px;
    padding-left: 33%;
    }

    .descrat {
    font-family: serif;
    font-weight: normal;
    }

    .borderZakaz {
    border: 2px solid #ffffff;
    padding: 7px;
    max-width: 50%;
    margin-bottom: 10px;
    }

    .kolzak {
      font-family: sans-serif;
      font-weight: normal;
    }

    .link {
    font-weight: 400;
    text-decoration: none;
    color: #FF0000;
    }
    
    .link:hover {
    color: #000;
    border-color: #000;
    }